main li img{
    width: 50%;
    object-fit:contain;
    padding: 10px;
    position: relative;
}

main ul{
    width: 100%;
    padding: 0;
    margin: 20px auto;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

header{
    position: static;
}


.item-content h2{
    font-size: 20px;
    text-align: left;
}

main li{
    margin: 10px 20px;
    display: flex;
    width: 100x;
    padding: 10px;
    background: rgba(255, 255, 255, 0.205);
}

.item-content h2{
    font-weight: 700;
    font-size: 28px;
    margin: 16.6px 0 10px 0;
}

.item-content p{
    margin: 0 0 16px 0;
}

section{
    display: flex;
    margin: 10px 0;
}

#full{
    margin: 20px 20px;
}

#full li{
    width: 100%;
    padding: 0;
    margin: 20px 0;
}

footer{
    text-align: center;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    color: white;
}

body{
    background-image: url(assets/pine.jpg);
    background-size: cover;
    height: 100%;
}

footer a{
    color: white;
}

li:nth-of-type(3){
    grid-column: 1/3;
}
