#destinations{
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.destination{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
}
.destination img{
    height: 200px;

}

.container{
    width: 50%;
}

.destination-rev{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    flex-direction: row-reverse;
    padding: 10px;
}

.destination-rev img{
    height: 200px;
}

h2{
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
}

#highlight{
    background-image: url(assets/pine.jpg);
    padding-top: 30px;
    background-size: cover;
}

#destinations li{
    background: transparent;
    backdrop-filter: blur(2px);
    color: white;
}
